body {
    font-family: serif;
    max-width: 90%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 5%;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

ul {
    list-style-type: none;
    text-align: center;
    display: flex;
}

li {
    margin: 10px;
}

nav {
    width: 45%;
    margin: auto;
}

ul li a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

.expan {
    display: none;
}

#p10 img, #p11 img{
    margin: 40px;
    width: 65%;
    margin: 40px 5px 0 5px;
    width: 60%;
}

.flexbox {
    display: grid;
    grid-template-columns: 30% 35% 30%;
}

reg {
    display: none;
}

.flexbox div {
    margin: 2%;
    /* width: 96%; */
}

button {
    position: relative;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em 2.5em;
    display: inline-block;
    border-radius: 6em;
    transition: all .2s;
    border: none;
    font-family: inherit;
    font-weight: 500;
    color: black;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

button:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

button:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

button::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

button::after {
    background-color: #fff;
}

button:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

img.icon{
    width: 10px;
}
